imageio==2.9.0
imageio-ffmpeg
matplotlib==3.4.2
configargparse==1.5.1
tqdm==4.61.2
opencv-python==4.5.3.56
numpy==1.22
scikit_learn==0.24.2
Pillow==9.0.1
PyYAML==5.4.1
torchmetrics==0.10.1
pymeshlab
wandb